<!-- Start Footer -->
  <footer>
      <div class="footer-area" style="background-image:url({{site.baseurl}}/assets/images/footer_bg.jpg);">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="footer-content">
<!--                           <div class="big-social-link">
                              <ul>
                                  <li><a href="{{site.facebook_url}}"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="{{site.twitter_url}}"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="{{site.googleplus_url}}"><i class="fa fa-google-plus"></i></a></li>
                                  <li><a href="{{site.linkedin_url}}"><i class="fa fa-linkedin"></i></a></li>
                                  <li><a href="{{site.pinterest_url}}"><i class="fa fa-pinterest"></i></a></li>
                                  <li><a href="{{site.github_url}}"><i class="fa fa-github"></i></a></li>
                              </ul>
                          </div>
                          <div class="footer-logo">
                              <a href="{{site.baseurl}}"><img src="{{site.footer_logourl}}" alt="{{site.title}}"></a>
                              <span>{{site.site_slogan}}</span>
                          </div> -->
                          <div class="copyright-text">
                              <p> &copy; 2020 - Magdalena Tremmel. Alle Rechte vorbehalten.</p>
                          </div>
                          <div class="scroll-to-top">
                              <a href="#"> <i class="fa fa-angle-up"></i>  nach oben </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
<!-- End Footer -->
